<style>
  .btn-outline-light,
.btn-ultra-voilet {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  line-height: 1.5;
}
.btn-ultra-voilet:hover {
text-decoration: none;         /* <-- prevents underline on hover too */
color: white; 
}
</style>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-transparent ">
    <a class="navbar-brand text-warning" href="/">EchoSpell<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-light" href="#features-section">Features</a>
        <a class="nav-item nav-link text-light" href="#storyline-section">Storyline</a>
        <a class="nav-item nav-link text-light" href="#how-it-works">How-it-works</a>
      </div>
      <div class="d-flex ml-auto">
        <a href="/login" class="btn btn-outline-light mx-2">Login</a>
        <a href="/signup" class="btn btn-ultra-voilet">Sign Up</a>
    </div>
    </div>
  </nav>
